.yellow-banner { 
    background-color: rgb(251, 251, 221);
}


.yellow-banner > div > div > picture > img { 
    margin-top: 35px;
}
.yellow-banner > div:last-child { 
    padding: 20px;
}


.yellow-banner > div > div .button-container a.button { 
    display: inline-block; /* Make the anchor behave like a block-level element */
    background-color: #ffcb05; /* Set the background color to yellow */
    color: #004570; /* Set the font color to green */
    padding: 10px 20px; /* Add padding to make it rectangular */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from the text */
    border-radius: 0px; /* Optional: Add border radius to make the corners rounded */
    font-weight: bold; /* Make the text bold */
    font-size: large;
    font-family: sans-serif;
}